.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    border: 3px solid yellow;
    height: 500px;
    width: 500px;
}

.square{
    width: 100px;
    height: 100px;
}

